$main-theme-color: rgb(210, 200, 233);
$secondary-theme-color: rgb(212, 212, 212);

$text-color-1:  rgb(113, 105, 172);
$text-color-2:  gray;
$text-color-3:  rgb(20,19,23);
$text-color-4:  blue;